@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  min-height: 70vh;
  outline: none;
  padding: 1rem;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #9ca3af;
  float: left;
  pointer-events: none;
  height: 0;
}
